*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#08122e;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    background:#1e293b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    position:sticky;
    top:0;
}

.logo-section{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-section img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}

.logo-section h2{
    color:#38bdf8;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    padding:80px;
}

.hero h1{
    font-size:70px;
    margin:10px 0;
}

.hero h3{
    color:#38bdf8;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    padding:12px 24px;
    border-radius:5px;
}

/* SECTIONS */

section{
    padding:80px;
}

section h2{
    text-align:center;
    color:#38bdf8;
    margin-bottom:40px;
}

#about p{
    max-width:800px;
    margin:auto;
    text-align:center;
    line-height:1.8;
}

/* CARDS */

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    background:#1e293b;
    padding:25px;
    border-radius:10px;
    text-align:center;
}

/* EDUCATION */

.edu{
    max-width:700px;
    margin:auto;
    background:#1e293b;
    padding:30px;
    border-radius:10px;
}

/* CONTACT */

.contact-box{
    max-width:600px;
    margin:auto;
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

/* FOOTER */

footer{
    background:#1e293b;
    text-align:center;
    padding:20px;
}

/* MOBILE */

@media(max-width:768px){

    header{
        flex-direction:column;
        padding:15px;
    }

    .logo-section{
        flex-direction:column;
        text-align:center;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
        margin-top:10px;
    }

    nav a{
        font-size:14px;
    }

    .hero{
        min-height:auto;
        padding:40px 20px;
    }

    .hero h1{
        font-size:48px;
    }

    section{
        padding:50px 20px;
    }

    .card{
        width:100%;
    }
}