.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

background:#08111f;

border-bottom:1px solid rgba(255,255,255,.08);

}

.nav-container{

display:flex;

justify-content:space-between;

align-items:center;

height:80px;

}

.logo{

display:flex;

align-items:center;

gap:12px;

}

.logo img{

width:45px;

height:45px;

border-radius:50%;

border:2px solid #7c5cff;

object-fit:cover;

}

.logo h2{

font-size:28px;

font-weight:700;

}

.logo span{

color:#7c5cff;

}

.nav-links{

display:flex;

gap:34px;

align-items:center;

}

.nav-links a{

cursor:pointer;

font-weight:600;

transition:.3s;

position:relative;

}

.nav-links a:hover{

color:#7c5cff;

}

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-10px;

height:2px;

width:0;

background:#7c5cff;

transition:.3s;

}

.nav-links a:hover::after{

width:100%;

}

.icons{

display:flex;

align-items:center;

gap:25px;

}

.moon{

font-size:22px;

cursor:pointer;

}

.menu{

display:none;

font-size:28px;

cursor:pointer;

}

@media(max-width:900px){

.menu{

display:block;

}

.nav-links{

position:absolute;

top:80px;

left:-100%;

width:100%;

background:#08111f;

flex-direction:column;

padding:35px;

transition:.4s;

}

.nav-links.active{

left:0;

}

}