.scrollTop{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border-radius:50%;

background:#8b5cf6;

color:white;

font-size:20px;

display:flex;

justify-content:center;

align-items:center;

border:none;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.3);

transition:.3s;

z-index:999;

}

.scrollTop:hover{

transform:translateY(-5px);

background:#6c63ff;

}