.scrollTop{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border-radius:50%;

background:var(--secondary);

color:#fff;

font-size:20px;

display:flex;

justify-content:center;

align-items:center;

border:none;

cursor:pointer;

box-shadow:var(--shadow);

transition:.3s;

z-index:999;

}

.scrollTop:hover{

transform:translateY(-5px);

background:var(--primary);

}
