:root{

--bg:#08111f;

--card:#111c2c;

--primary:#6c63ff;

--secondary:#8b5cf6;

--text:#ffffff;

--gray:#9ca3af;

}

body{

background:var(--bg);

color:var(--text);

}

.section-title{

font-size:38px;

font-weight:700;

margin-bottom:45px;

color:#8b5cf6;

}

.card{

background:#111827;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-6px);

box-shadow:0 15px 40px rgba(108,99,255,.3);

}