:root{

  /* Light Theme */
  --bg:#f5f7fb;
  --card:#ffffff;
  --panel:#f9fafb;
  --panel-2:#eef2ff;

  --primary:#6c63ff;
  --secondary:#8b5cf6;

  --text:#111827;
  --muted:#4b5563;
  --gray:#6b7280;
  --soft:#6b7280;

  --navbar:#ffffff;
  --border:#e5e7eb;

  --shadow:0 10px 30px rgba(0,0,0,.08);

  --footer-bg:#f5f7fb;

}

/* Dark Theme */

body.dark{

  --bg:#08111f;
  --card:#111c2c;
  --panel:#0f1a2e;
  --panel-2:#111c2c;

  --primary:#6c63ff;
  --secondary:#8b5cf6;

  --text:#ffffff;
  --muted:#cbd5e1;
  --gray:#9ca3af;
  --soft:#94a3b8;

  --navbar:#08111f;
  --border:rgba(255,255,255,.08);

  --shadow:0 15px 40px rgba(108,99,255,.25);

  --footer-bg:#050d18;

}

body{

  background:var(--bg);
  color:var(--text);

  transition:
  background .35s ease,
  color .35s ease;

}

.section-title{

  font-size:38px;
  font-weight:700;
  margin-bottom:45px;

  color:var(--primary);

}

.card{

  background:var(--card);

  border-radius:18px;

  border:1px solid var(--border);

  box-shadow:var(--shadow);

  transition:.35s;

}

.card:hover{

  transform:translateY(-6px);

}