*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
background:#08111f;
color:white;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
max-width:100%;
display:block;
}

button{
cursor:pointer;
border:none;
}

.container{
width:90%;
max-width:1300px;
margin:auto;
}

section{
padding:90px 0;
}